<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="activeMQConfig" type="WMSoft.ActiveMq.Config.Section, WMSoft.ActiveMq" />
  </configSections>
  <activeMQConfig>
    <services>
      <service name="testlog" activeMQUri="tcp://10.0.12.10:61616/" topicOrQueueName="testlog" desc="log日志"></service>
    </services>
  </activeMQConfig>
</configuration>